spring-social-facebook/src/main/resources/org/springframework/social/facebook/config/xml/spring-social-facebook-1.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:facebook="http://www.springframework.org/schema/social/facebook"
	targetNamespace="http://www.springframework.org/schema/social/facebook">

	<xs:element name="config">
		<xs:complexType>
			<xs:attribute name="app-id" use="required" type="xs:string" />
			<xs:attribute name="app-secret" use="required" type="xs:string" />
			<xs:attribute name="app-namespace" use="optional" type="xs:string" />
		</xs:complexType>
	</xs:element>

</xs:schema>